[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
django-fsm = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
drf-exceptions-hog = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
